html {
    font-family:"Lucida Sans";
    font-size: 16px;
    text-align: center;
 }


@media only screen and (max-width: 600px)
{
    .nav{
        flex-wrap: wrap;
    }

    .main img{
        display: flex;
        max-width: 400px;
    }
}

header {
    background-color: brown;
    border: 1px solid burlywood;
}

h1, h2 {
    color: burlywood;
    padding: 0.2rem;
    margin-bottom: 0;
    
}

h1 {
    font-size: 1.5rem;
}

h2{
    font-size: 1.2rem;
}

a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: brown;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10rem;
  }

.nav {
    display:flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    margin-top: 0;
    justify-content: center;
}

.nav a{
    margin-top: 0;
}

.main {
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

.content{
   display: flex;
   justify-content: center; 
   align-items: center;
   flex-direction: column;
}

.main img{
    max-height: 40rem;
    overflow: hidden;
    flex-shrink: 0.5;
    border: 3px solid burlywood;
}

.content p{
    max-width: 40rem;
}

.content{
    margin: 0.5rem;
    
}

footer p{
    font-size: 0.6rem;
    color: gray;
    display: inline-flex;
}

.footerlink {
    font-size: 0.6rem;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
    width:auto;
    font-weight: lighter;
    text-decoration: underline;
}